.mat-mdc-form-field label, .mat-mdc-form-field .mat-mdc-floating-label, .mat-mdc-form-field .mat-mdc-form-field-label {
  color: #222 !important;
  font-weight: 600;
  font-size: 1.05rem;
}
.mat-mdc-form-field .mat-mdc-input-element {
  color: #222 !important;
}
th.mat-mdc-header-cell,
.mat-mdc-table .mat-mdc-header-cell,
th[ngcontent],
th[class*='mat-mdc-header-cell'],
th[class*='mat-header-cell'],
th[_ngcontent],
th[_ngcontent-ng-c2596952125],
.mat-mdc-header-cell[ngcontent],
.mat-mdc-header-cell[_ngcontent],
.mat-mdc-header-cell[_ngcontent-ng-c2596952125],
.mat-mdc-header-cell[class*='mat-mdc-header-cell'] {
  color: #fff !important;
}
.referente-star {
  font-size: 28px;
  vertical-align: middle;
  transition: color 0.2s, border 0.2s;
}
.star-on {
  color: #FFD600 !important; /* dorado */
  text-shadow: 0 0 4px #FFD60099;
}
.star-off {
  color: #fff !important;
  border: 2px solid #219653;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 1px #219653;
}
:host {
  display: block;
  width: 100%; /* Ajuste para ocupar toda la vista */
  margin: 0 auto;
}
